<% include header %>   
<div class="container">
<h2 class="login-heading">Smart Water Quality Management System</h2>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12">
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
                <form action="/signup" method="post" id="sign_form">
                <h2>Sign Up Form</h2>
                <div class="form-group input-email">
                    <label for="email">Useremail</label>
                    <input type="text" class="form-control" name="email" id="email" placeholder="email">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                </div>
                <div class="form-group input-username">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" name="username" id="username" placeholder="username">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </div>
                <div class="form-group input-pwd">
                    <label for="pwd">Password:</label>
                    <input name="password" type="password" placeholder="Password" id="pwd" class="form-control">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                </div>
                <button type="submit" class="btn btn-success btn-block">Login</button>
                <a href="/signUp" class="link">Don't Have An acoount? Sign Up</a>
            </form>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12"></div>
    </div>
</div>
</div>
<% include footer %>    
<script>
    $('#sign_form').submit(function() {
        event.preventDefault();
        let email=$('#email').val();
        let pwd=$('#pwd').val();
        $('#loader').show();
        $.ajax({
            url: 'login/',
            data: JSON.stringify({"email": email, "password": pwd }),
            processData: false,
            type: 'POST',
            contentType: 'application/json',
            success: function (data) {
                $('#loader').hide();
                if(data.message == 'Invalid Credentials') {
                    $('#invalid_message').show();
                    setTimeout(function() {
                        $("#invalid_message").hide();
                    }, 2000);
               } 
               console.log(data.message);
            }
        });
    });
</script>

